.heading {
	border-bottom: 2px solid;
}

.top-heading {
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

.simp-style {
	font-family: verdana;
	border-radius: 10px;
	font-size: 12px;
}

.footer-style {
	font-family: verdana;
	font-size: 12px;
	text-align: center;
}

.block-size {
	height: 10vh;
	width: 100vw;
}

.footer {
	border-top: 2px solid;
}

.content {
	background-image: url(/sRealstate/resources/images/main.jpg);
	height: 90vh;
	width: 100vw;
}

ul {
	list-style-type: none;
}

ul>li {
	font-size: 14px;
	font-family: cursive;
	float: left;
	margin: 4px 17px 3px 20px;
}

ul>li:hover {
	height: 48px;
	width: 117px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
}

ul>li>a {
	color: #0e880e;
	text-decoration: none;
}

ul>li>a:hover {
	color: #ff0000;
}

.error {
	color: #ff0000;
	font-weight: bold;
	margin-left: 312px;
	font-style: oblique;
	line-height: 3;
}

nav {
	height: 58px;
}

.appointment-heading {
	width: 100vw;
	text-align: center;
}

.appointment-form {
	width: 100vw;
}

.form-label {
	font-size: 16px;
	font-family: cursive;
	float: right;
	margin-right: 57px;
}

td>input {
	border: 1px solid orange;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	font-family: cursive;
	width: 302px;
	border-radius: 11px;
}

.sub-but-container {
	height: 51px;
}

.appointment-button {
	border: 1px solid orange;
	border-radius: 5px;
	height: 32px;
	font-size: 16px;
	margin-left: 75px;
	font-family: cursive;
	background: #1a6919;
}

table {
	background: antiquewhite;
	opacity: 0.9;
	height: 340px;
	width: 809px;
	padding: 29px 2px 7px 4px;
}

table>td {
	text-align: center;
}

table>tr {
	line-height: 5;
}
table>tr{
	    background-color: cornflowerblue;
}