
	.heading  {
		    	border-bottom: 2px solid;
				}
	.top-heading {
					font-family: verdana; 
					font-size: 16px; 
					text-align: center;
 				}
	.simp-style	{
					font-family: verdana; 
					border-radius: 10px; 
					font-size: 12px; 
 					}
	.footer-style {
					font-family: verdana; 
					font-size: 12px; 
					text-align: center;
 				}
	.block-size	{
				 	height: 10vh;
		    		width:100vw;
		 		}
 		.footer {
 					border-top: 2px solid;
 				}	
 		.content{
        			background-image: url(/sRealstate/resources/images/main.jpg);
    				height: 90vh;
    				width: 100vw;
 				}	
		 	ul	{
		    		 list-style-type: none;
		 		}
		 ul>li  {
		 	    	 font-size: 14px;
		    		 font-family: cursive;		
		     		 float: left;
		    		 margin: 5px 12px 5px 0px;
				}
		ul > li:hover {
			    	height: 48px;
			    	width: 117px;
			    	text-align: center;
			    	line-height: 38px;
			    	border-radius: 19px;
			    	border: 1px solid chocolate;
				}
	ul > li > a {
					text-decoration: none;	
				}
ul > li > a:hover {
		    		color: aqua;
				}
		.error {
					color: #ff0000;
					font-weight: bold;
					margin-left: 253px;
				   	font-style: oblique;
					line-height: 3;
				}
				}
			nav{
					height: 58px;
				}
.appointment-heading{
					width: 100vw;
				    text-align: center;
				}	
.appointment-form{
					width: 100vw;
				}
	.form-label{
			    	font-size: 16px;
			    	font-family: cursive;
			    	flow:right;
			    	margin-right:10 px;
				}
	
